<div class="h-[30rem] md:h-[36rem] relative -mt-24 -z-50 overflow-x-hidden">
	<!-- right/gray triangle -->
	<span
		class="absolute right-0 w-3/4 border-gray-500/30 border-t-[30rem] md:border-t-[36rem] border-l-[75vw] border-l-[color:transparent]"
	></span>

	<!-- slant block -->
	<span class="absolute w-full h-[24rem] md:h-[30rem] bg-red-600/90"></span>

	<!-- slant bottom -->
	<span
		class="absolute top-[24rem] md:top-[30rem] border-red-600/90 border-t-[6rem] md:border-t-[6rem] border-r-[100vw] border-r-[color:transparent]"
	></span>

	<!-- left triangle -->
	<span
		class="absolute w-2/3 border-red-700/30 border-t-[26rem] md:border-t-[24rem] border-r-[75vw] border-r-[color:transparent]"
	></span>

	<!-- top gradient -->
	<span
		class="absolute w-full min-h-[18rem] md:min-h-[30rem] bg-gradient-to-b from-black/40 md:from-black/60"
	></span>
</div>
